@CHARSET "ISO-8859-1";

body {
    font: 75% "Trebuchet MS", sans-serif;
    margin: 50px;
}

table {
border-collapse: collapse;
}

.descripcion {
	width:80%;
}

thead td {
	background-color: #FFC;
	border-top: 1px solid red;
	border-bottom: 2px solid red;
	padding:10px;
}

#tablaTareas td {
	border-bottom: 1px solid black;
	padding-right: 10px;
}
